@charset "utf-8";
body { overflow:hidden}
#bodytop {position:fixed;width:100%;height:90px;background:#182948;border-bottom:5px solid #FFE100; z-index:800}
#bodytop a {color:#999}
#leftLabel {float:left; width:20px;height:20px;background:#000;border-radius:0px 5px 0px 5px;text-align:center;font-weight:bold;line-height:16px;cursor:pointer;margin-top:70px;}
#bodytop #MemberTop {float:right;padding-right:30px;}
#rightLabel {float:right;width:20px;height:20px;background:#000;border-radius:5px 0px 0px 5px;text-align:center;font-weight:bold;line-height:16px;cursor:pointer;margin-top:70px;}

#bodyleft {position:fixed;width:200px;height:100%;left:-200px;background:#182948;box-shadow:0 0 10px rgba(0,0,0,.5);z-index:1000;}
#logo {width:160px;height:50px;font-size:20px;line-height:25px; text-align:center;color:#FFF;background:url(../images/LOGO.jpg) #182948; background-position:30px center;;background-repeat:no-repeat;padding:20px;}
#navs {border-top:5px solid #FFC100}
#navs ul {}
#navs ul li { cursor:pointer}
#navs ul li {height:40px;line:40px;color:#FFF;border-bottom:1px solid #1d355f;line-height:40px;padding-left:40px;}
#navs ul li.zmenu { background:#112240;color:#FFE100;font-size:14px;line-height:40px;padding-left:40px;}
#navs ul li a { color:#FFF; display:block}
#copyright {padding:20px;}

#bodyright {position:fixed;width:200px;height:100%;right:-200px;background:#182948;box-shadow:0 0 10px rgba(0,0,0,.5);z-index:1000;}
#ServerHead {width:100px;height:100px; background:url(http://static.51talk.com/static/images/html/www_new/adult/d_1_01.png?v=1492668410442) #666; background-size:cover;border:3px solid #CCC;border-radius:60px;margin:auto;margin-top:30px;margin-bottom:10px;}
#ServerUName { font-size:12px; color:#999; text-align:center}

#ServerList {margin-top:30px;border-top:1px solid #505050}
#ServerList li {clear:both;height:50px;border-bottom:1px solid #505050;padding:10px;padding-left:20px;}
#ServerList li .ServerHeadpic {float:left;width:40px;height:40px;background:#CCC;border-radius:5px;}
#ServerList li .ServerInfo {float:left;margin-left:10px;}
#ServerList li .ServerName {color:#FFE100}
#ServerList li .ServerText {color:#999}

#maintop {height:90px;}
#mainbodys {padding:0px;height:91%}